.login-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}