/* 전체 배경 */
.post-container {
    margin-top: 20px;
    min-height: 80vh;
    background-color: #f5f6f8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

/* 카드 영역 */
.post-card {
  width: 800px;
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* 제목 */
.post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 메타 정보 */
.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #9d4e4e;
  margin-bottom: 20px;
}

/* 내용 */
.post-content {
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-line; /* 줄바꿈 유지 */
}

/* 로딩 */
.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
}

/* 버튼 영역 */
.post-actions {
  width: 800px;
  margin-top: 20px;

  display: flex;
  justify-content: flex-end;
}

/* 버튼 스타일 */
.edit-btn, .delete-btn {
  padding: 10px 16px;
  background-color: #4a90e2;
  margin : 10px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #357abd;
}